<ejs-filemanager
     id='filemanager'
     #filemanagerObj
     [ajaxSettings]='ajaxSettings'
     [toolbarSettings]='toolbarSettings'
     [contextMenuSettings]="contextMenuSettings"
     [view]='view'
     [detailsViewSettings]='detailsViewSettings'
     [navigationPaneSettings]='navigationPaneSettings'
     [showFileExtension]='showFileExtension'
     [showThumbnail]='showThumbnail'
     [showHiddenItems]='showHiddenItems'
     [uploadSettings]='uploadSettings'
     [allowMultiSelection]='allowMultiSelection'
     [enableRangeSelection]='enableRangeSelection'
     [allowDragAndDrop]='allowDragAndDrop'
     (created)="onCreated($event)">
 </ejs-filemanager>